#pelotas {
    position: relative;
}

.suelo {
    position: absolute;
    top: 260px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #804000;
    }
    
    $verde: rgb(1, 17, 1);
    
    .pelota {
    position: absolute;
    animation: rebote 3000ms linear infinite;
    left:0;
    top:0
    }
    
    @for $i from 1 through 10 {
        .pelota:nth-child(10n + #{$i}) {
            animation-delay: 100ms * $i;
            fill: lighten($color: $verde, $amount: 10% * $i);
        }
    }
    
    @keyframes rebote {
        16% {
        top: 190px;
        animation-timing-function: ease-out;}
        32% {
        top: 33px;
        animation-timing-function: ease-in;}
        48% {
        top: 190px;
        animation-timing-function: ease-out;}
        62% {
        top: 90px;
        animation-timing-function: ease-in;}
        78% {
        top: 190px;
        animation-timing-function: ease-out;}
        90% {
        top: 150px;
        animation-timing-function: ease-in; }
        100% {
        top: 190px;
        animation-timing-function: ease-out;
        left: 100%;}
    }